---
title: Le Règlement - Site officiel
---

<div class="welcome">
  <h1>Ceux qui respectent le règlement ne le respectent pas correctement</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
